.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.tabs-container{
    max-width:1200px;
    height: fit-content;
    background-color: var(--bg-color);
    border-radius: 5px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    grid-column: 2;
    padding: 10px;
    overflow: hidden;
}

.no-quotas-message{
  text-align: center;
  margin-top: 20px;
}