<mat-dialog-content>
    <div class="header">
        <h1>{{data.name}}</h1>
        <button mat-icon-button (click)="fecharDialogo()" style="align-self:end;">
            <mat-icon fontIcon="close"></mat-icon>
        </button>
    </div>
    <h2>{{data.type}}</h2>
    <h3>Histórico de quotas</h3>
    <div class="tabs-container">
        <mat-tab-group>
            <mat-tab label="Pagas">
                <table mat-table *ngIf="dataSourcePaid?.data?.length > 0" [dataSource]="dataSourcePaid"  matSort class="mat-elevation-z8">
                    <ng-container matColumnDef="month">
                        <th mat-header-cell *matHeaderCellDef>Mês</th>
                        <td mat-cell *matCellDef="let element">{{element.month}}</td>
                    </ng-container>
                    <ng-container matColumnDef="valor">
                        <th mat-header-cell *matHeaderCellDef>Valor</th>
                        <td mat-cell *matCellDef="let element">{{element.valor + "€"}}</td>
                    </ng-container>
                    <ng-container matColumnDef="paymentDate">
                        <th mat-header-cell *matHeaderCellDef>Data de pagamento</th>
                        <td mat-cell *matCellDef="let element">{{element.paymentDate | date:'longDate'}}</td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumnsPaid"></tr>
                    <tr mat-row 
                    *matRowDef="let row; columns: displayedColumnsPaid;"></tr>
                
                </table>
                <h2 *ngIf="dataSourcePaid?.data?.length === 0" class="no-quotas-message">Sem quotas pagas.</h2>
            </mat-tab>
            <mat-tab label="Por pagar">
                <table mat-table *ngIf="dataSourceUnpaid?.data?.length > 0" [dataSource]="dataSourceUnpaid" matSort class="mat-elevation-z8">
                    <ng-container matColumnDef="month">
                        <th mat-header-cell *matHeaderCellDef>Mês</th>
                        <td mat-cell *matCellDef="let element">{{element.month}}</td>
                    </ng-container>
                    <ng-container matColumnDef="valor">
                        <th mat-header-cell *matHeaderCellDef>Valor</th>
                        <td mat-cell *matCellDef="let element">{{element.valor + "€"}}</td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="['month','valor']"></tr>
                    <tr mat-row 
                    *matRowDef="let row; columns: ['month','valor'];"></tr>
                </table>
                <h2 *ngIf="dataSourceUnpaid?.data?.length === 0" class="no-quotas-message">Sem quotas por pagar.</h2>
            </mat-tab>
        </mat-tab-group>
    </div>
</mat-dialog-content>