<mat-dialog-content>
    <h1>Registo</h1>
    <form class="login-form">
        <mat-form-field appearance="fill">
            <mat-label>Nome</mat-label>
            <input matInput  name="name" placeholder="Nome" required type="text" [(ngModel)]="nome">
            <mat-icon matSuffix>account_circle</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput name="email" placeholder="exmplo@email.com" required type="email" [(ngModel)]="email">
            <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Senha</mat-label>
            <input matInput name="password" required [type]="hide() ? 'password' : 'text'" [(ngModel)]="password"/>
            <button mat-icon-button matSuffix (click)="clickEvent($event)" [attr.aria-pressed]="hide()" >
                <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
        <button mat-raised-button color="primary" class="login-button" (click)="signUp()">Registar</button>
    </form>
</mat-dialog-content>
