.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-date{
    margin: 0;
}

.event-creator-container{
    display: flex;
    flex-direction: column;
}

.horario-picker{
    display: flex;
    flex-direction: row;
    justify-content: left;
}

@media screen and (max-width: 599px){
    .horario-picker{
        justify-content: space-between;
    }
}