.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 5rem;
    height: 100%;
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 200ms ease;
    overflow: hidden;
    z-index: 4;
    margin-top: 0;
}

@media screen and (max-width: 550px){
    .navbar{
        height: 5rem;
    }
    .navbar:hover{
        height: 100%;
    }
}

@media (max-width: 920px) and (orientation: landscape){
    .navbar{
        height: 5rem;
    }
    .navbar-nav{
        height: 100%;
    }
}

.navbar::-webkit-scrollbar {
  width: 0;  
  height: 0; 
  background: transparent; 
}

.navbar-nav{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

}

.nav-item {
    width: 100%;
}

.nav-item:last-child{
    margin-top: auto; 
}

.nav-link{
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
    font-family: nav-bar;
}

.nav-link:hover{
    filter: grayscale(0%) opacity(1);
    background-color: var(--bg-secondary);
    color: var(--text-secondary);
}

.nav-link:hover + .main-image-text {
    margin-left: 10rem;
}

.link-text{
    display: none;
    margin-left: 1.7rem;
    font-family: nav-bar;
    font-size: 27px;
    margin-right: 0.5rem;
}

.logo-text{
    font-size: 28px;
}

.nav-link svg {
    min-width: 2rem;
    margin: 0 1.5rem;
    width: 2rem;
}

.navbar:hover {
    width: 16rem;
    background-color: var(--bg-primary);
    z-index: 2;
}

.navbar:hover .link-text{
    display: block;
}

.logo{
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    letter-spacing: 0.3ch;
    width: 100%;
}

.logo svg{
    transform:rotate(0deg);
    transition: transform var(--transition-speed);
}

.navbar:hover .logo svg {
    transform: rotate(-180deg);
}

.fa-primary{
    color: #94d8fffb;
}

.fa-secondary{
   color: #38B6FF;
}

.fa-primary,
.fa-secondary {
    transition: var(--transition-speed);
}

::ng-deep .mdc-text-field--outlined.mdc-text-field:not(.mdc-text-field--disabled) .mdc-notched-outline__leading, 
::ng-deep .mdc-text-field--outlined.mdc-text-field:not(.mdc-text-field--disabled) .mdc-notched-outline__notch,
::ng-deep .mdc-text-field--outlined.mdc-text-field:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing{
    border-color: var(--text-color) !important;
}

::ng-deep .mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input,
::ng-deep .mdc-text-field:not(.mdc-text-field-disabled) .mdc-floating-label{
    color: var(--text-color) !important;
}

::ng-deep .mat-mdc-select-value-text{
    color: var(--text-color);
}

.content-wrapper {
  padding-top: 60px; 
  overflow: hidden; 
  margin-left: 5rem; 
  padding-top: 0;
  padding-bottom: 0;
}