.container{
    width: 100%;
}

.calendar-container{
    max-width:800px;
    height: fit-content;
    background-color: var(--containers-bg);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 10px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    grid-column: 2;
}

.calendar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.choose-month{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-top: 10px;
}

.current-month{
    font-family: var(--font-family);
    font-size: 25px;
    font-weight: 600;
}

.week-day{
  color: var(--text-color);
}

.month-buttons{
    margin: auto 2px;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    color: var(--text-color);
}

.change-month-buttons:hover{
    background-color: var(--calendar-blue);
    transition: 500ms;
    border-radius: 50%;
}

.inner-calendar{
    display: flex;
    flex-direction: column;
    width: 90%;
    font-family: var(--font-family);
    font-size: 20px;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    text-align: center;
}

.material-symbols-rounded:hover{
    background-color: var(--logo-color);
    border-radius: 50%;
    height: 100%;
    transition: 300ms;
}

.days{
    margin: 6px 0;
    text-align: center;
    -webkit-user-select: none;
    user-select: none;
}

.day{
    margin: 3px 3px;
    background-color: #cdcccc;
    border-radius: 5px;
    height: 75px;
    display: flex;
    flex-direction: column;
}

.day-selected{
    background-color: var(--calendar-blue);
}

.valid-day:hover{
    background-color: var(--calendar-blue);
    transition: 500ms;
    cursor: pointer;
}

.circle-day{
    background-color: var(--calendar-blue);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: auto;
}

.has-event{
    width: 7px;
    height: 7px;
    border-radius: 50px;
    margin: auto;
    background-color: purple;
}

.add-event-button {
  margin-right: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

@media screen and (max-width: 599px) {
    .calendar-container{
        box-sizing: border-box;
        margin-top: 20px;
        margin-left: 15px;
        margin-right: 15px;
        width: calc(100% - 30px);
    }

    .inner-calendar{
        width: 96%;
        font-size: medium;
    }

}

@media screen and (min-width: 600px) and (max-width: 1400px) {
    .calendar-container {
        margin-left: 20px; 
        margin-right: 10px;
        margin-bottom: 20px;
        padding: 15px; 
        max-width: 100vw;
    }

    .inner-calendar{
        width: 96%;
    }
}

