<div class="regras-container">
  <h2>Regras 
    <p>Carro 
      <span class="highlight-bioquimica">Bioquímica</span> 
      2027
    </p> 
  </h2>
  <mat-accordion *ngFor="let tipo of todasAsRegras">
    <mat-expansion-panel class="tipo-container">
      <mat-expansion-panel-header>
        <mat-panel-title> {{tipo.titulo}} </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="conteudo-regras">
        <ul>
          <li *ngFor="let regra of tipo.regras">{{ regra }}</li>
        </ul>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>