:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --containers-bg : #fff;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --nav-bar-primary: #23232e;
    --nav-bar-hover: #141418;
    --transition-speed: 600ms;
    --day-cell-color: #cdcccc;
    --calendar-blue:#38B6FF;
    --font-family: "Poppins", sans-serif;
}

@font-face {
    font-family: nav-bar;
    src: url(/assets/fonts/BebasNeue-Regular.otf);
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,html {
    margin:0;
    padding:0;
}

body{
  background-color:#3c5278 ;
}

body::-webkit-scrollbar{
    width: 10px;
}

body::-webkit-scrollbar-track{
    background: #1e1e24 ;
}

body::-webkit-scrollbar-thumb {
    background: #38B6FF;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


